@tailwind base;
@tailwind components;
@tailwind utilities;

.brown{
    background-color: brown;
}

.white{
    background-color: white;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}